<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<bean id="userDaoImpl" class="com.demo.springdemo.UserDaoImpl" />

	<bean id="userDaoImpl_Static_Factory_Method" class="com.demo.springdemo.UserDaoFactory"
		factory-method="getUserDao" />


	<bean id="factory" class="com.demo.springdemo.UserDaoFactory2" />
	<bean id="userDaoImpl_Factory_Bean" factory-bean="factory"
		factory-method="getUserDao" />

	<bean id="userService" class="com.demo.springdemo.UserService">
		<property name="userID" value="125" />
		<property name="userName" value="Laball Lee" />
		<property name="userDao" ref="userDaoImpl" />

		<property name="hobbies">
			<list>
				<value>篮球</value>
				<value>听音乐</value>
				<value>跑步</value>
				<value>看书</value>
			</list>
		</property>

		<property name="scores">
			<map>
				<entry key="语文" value="97" />
				<entry key="数学" value="112" />
				<entry key="外语" value="120" />
				<entry key="计算机" value="147" />
			</map>
		</property>

		<property name="settings">
			<set>
				<value>111</value>
				<value>222</value>
				<value>333</value>
			</set>
		</property>

		<property name="props">
			<props>
				<prop key="Sex">Man</prop>
				<prop key="Age">25</prop>
				<prop key="Height">185</prop>
			</props>
		</property>
	</bean>

</beans>